<div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="addGoalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGoalModalLabel">Add a Goal</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="addGoalForm" action="#">
                    <div class="form-group">
                        <label for="goals" class="col-form-label">Goals:</label>
                        <select class="form-control" id="goals" name="goals">
                            <repeat group="{{ @goals }}" value="{{ @goal }} ">
                                <option> {{ @goal['description'] }}</option>
                            </repeat>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        <input type="submit" name="addHike" value="Add Goal" class="btn btn-green">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>