<include href="views/header.html"></include>
<body>

<div id="head-img" class="jumbotron">
    <a class="h5 float-right text-white" href="logout"><p>Logout</p></a>
    <h1 class="text-white text-center d-none d-md-block">HikeMore</h1>
</div>


<div class="container">
    <div class="row">

        <!--Pills-->
        <ul class="nav nav-tabs w-100 justify-content-around mb-3" id="tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-dark active" id="myHikesTab" data-toggle="tab" href="#myHikes" role="tab">My Hikes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="myGoalsTab" data-toggle="pill" href="#myGoals" role="tab">My Goals</a>
            </li>
        </ul>

        <!--Tabs-->
        <div class="tab-content w-100" id="tabContent">
            <!--Hike tracking-->
            <div class="tab-pane fade show active container" id="myHikes" role="tabpanel">
                <div class="row h-50 mx-auto" id="hikeList">

                    <!--Check if the user has any hikes yet-->
                    <check if="{{ sizeof(@tableInfo) > 0 }}">
                    <true>
                    <!--Table-->
                    <div class="table-responsive justify-content-between">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Trail Name</th>
                                    <th scope="col">Length</th>
                                    <th scope="col">Elevation Gain</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Difficulty</th>
                                </tr>
                            </thead>
                            <tbody>

                            <repeat group="{{ @tableInfo }}" value="{{ @trail }}">
                                <tr>
                                    <td>{{ @trail['trailName'] }}</td>
                                    <td>{{ @trail['length'] }} Miles</td>
                                    <td>{{ @trail['elevation'] }} ft.</td>
                                    <td>{{ @trail['Location'] }}</td>
                                    <td>{{ @trail['difficulty'] }}</td>
                                </tr>
                            </repeat>


                            </tbody>
                        </table>
                    </div>
                    </true>
                    <false>
                        <h2>You have not added any hikes yet! Add a hike below to get started.</h2>
                    </false>
                    </check>



                </div>

                <div class="row float-right">
                    <button id="btnAddHike" type="button" class="btn  btn-lg btn-block align-bottom" data-toggle="modal"
                            data-target="#addHikeModal">Add a Hike</button>
                </div>

                <!--Include add hike modal-->
                <include href="views/add-hike.html"></include>

            </div><!--End myHikes-->

            <!--Goals-->
            <div class="tab-pane fade" id="myGoals" role="tabpanel">




                <div class="container w-100 h-100">
                    <!--Progress bars-->
                    <repeat group="{{ @goalTableInfo }}" value="{{ @goal }}">
                        <div class="row my-3">
                            <h5 class="h5">{{ @goal['description'] }}</h5>
                            <div class="progress w-100">
                                <div id="{{ @goal['goal_id'] }}"
                                     class="progress-bar progress-status"

                                     <check if="({{@goal['currentGoal'] }} / {{ @goal['endGoal'] }} * 100) < 100">
                                         <true>
                                         style="width: calc( {{@goal['currentGoal'] }} / {{ @goal['endGoal'] }} * 100% ); "
                                             >{{ @goal['currentGoal'] }}/{{ @goal['endGoal'] }}
                                         </true>
                                         <false>
                                             style="width: 100%; background-color: green;"> COMPLETE
                                         </false>
                                     </check>

                                </div>
                            </div>
                        </div>
                    </repeat>

                    <!--Include add goal modal-->
                    <include href="views/add-goal.html"></include>
                    <div class="row float-right">
                        <button id="btnAddGoal" type="button" class="btn btn-lg" data-toggle="modal"
                                data-target="#addGoalModal">Add a Goal</button>
                    </div>
                    <include href="views/update-goal.html"></include>
                    <div class="row">
                        <button id="btnUpdateGoal" type="button" class="btn btn-lg" data-toggle="modal"
                                data-target="#updateGoalModal">Update Goals</button>
                    </div>

                </div><!--End container-->

            </div>
        </div><!--End content-->
    </div><!--End row-->
</div><!--End container-->
<script>

</script>
</body>
</html>