<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In!</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="loginForm" action="#">
                    <div class="form-group">
                        <span id="invalidLogin" class="small text-danger d-none">Invalid Email and Password Combination</span>
                        <label for="email" class="col-form-label">Email:</label>
                        <span id="loginEmailErr" class="small d-none text-danger">Email is invalid</span>
                        <input class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <span id="loginPassErr" class="small text-danger d-none">Password is invalid</span>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-blue" data-dismiss="modal">Close</button>
                        <input type="submit" name="login" value="Log In" class="btn btn-green">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
