<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up!</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <div class="form-group">
                        <label for="fname" class="col-form-label">First Name:</label>
                        <check if="{{ isset(@errors['first']) }}">
                            <br><span>{{ @errors ['first']}}</span>
                        </check>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>
                    <div class="form-group">
                        <label for="lname" class="col-form-label">Last Name:</label>
                        <check if="{{ isset(@errors['last']) }}">
                            <br><span>{{ @errors ['last']}}</span>
                        </check>
                        <input class="form-control" id="lname" name="lname">
                    </div>
                    <div class="form-group">
                        <label for="signUpEmail" class="col-form-label">Email:</label>
                        <check if="{{ isset(@errors['email']) }}">
                            <br><span>{{ @errors ['email']}}</span>
                        </check>
                        <input class="form-control" id="signUpEmail" name="signUpEmail">
                    </div>
                    <div class="form-group">
                        <label for="signPassword" class="col-form-label">Password:</label>
                        <check if="{{ isset(@errors['password']) }}">
                            <br><span>{{ @errors ['password']}}</span>
                        </check>
                        <input type="password" class="form-control" id="signPassword" name="signPassword">
                    </div>
                    <div class="form-group">
                        <label for="confirmPass" class="col-form-label">Confirm Password:</label>
                        <check if="{{ isset(@errors['confirmPass']) }}">
                            <span>{{ @errors ['confirmPass']}}</span>
                        </check>
                        <input type="password" class="form-control" id="confirmPass" name="confirmPass">
                    </div>
                    <div class="modal-footer form-group">
                        <button type="button" class="btn btn-secondary">Close</button>
                        <input type="submit" name="signup" value="Sign Up" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
